@charset "UTF-8";

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:70px;   
    padding : 0; margin: 0;
    
}

.footerMenu{
	width : 50%;
	float : left;
	margin-top: 5%;
	text-align: center;
}

.footerMenu i {
	font-size : 40px; clear:both; float : left;
}

.footerMenu label {
	padding : 10px;
}

#enterMenu i{
	color: black;
}
	
#enterMenu label{
	color: black;
}

.MyChatList td { padding : 10px; }

.chName { width : 70%;} 
