@charset "UTF-8";

.AllChatList {width : 100%;}

.AllChatList td { padding : 10px; }
 
#joinMenu i{
	color: black;
}
	
#joinMenu label{
	color: black;
}



.AllChatTitle { width: 75%;}

/* The Modal (background) */
 .checkmodal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
    		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
    
        /* Modal Content/Box */
 .checkmodal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 70%; /* Could be more or less, depending on screen size */     
            height : auto;                     
 }


body {overflow-y: hidden; overflow-x: hidden;}
	
	#makeRoomIcon{
	font-size : 60px;
	color: #7ba9f2;
	background : none;
	float : right ;
	}
	
	#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:70px;   
    padding : 0; margin: 0;
	}
	
	#makeRoomBtn{
		background : none;
		border : none;
	}
	
	#makeRoomTable td{
		padding: 5px;
	}
	
	#chatPlace, #chatTitle{
	    width: 340px !important; 
	}
	
	#trStartDate , #trEndDate{ width : 150px; display : inline-block; /* margin-right : 10px; */ }
	
	#peopleNum {
	color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
	width : 150px;  height: 30px;
    line-height: 1.5; margin-left : 38%;
    border-radius: 3px;}
    
    #chatDetail{
    	resize : none;
    	width : 340px; height : 100px;
    	border-radius: 3px;
    }

	


